ul.nav.nav-list
    for menu_item in theme.menu
        li.nav-list-item
            - var re = /^(http|https):\/\/*/gi;
            - var act = !re.test(menu_item.url) && "/"+page.current_url === menu_item.url
            a.nav-list-link(class={active: act} href=url_for(menu_item.url) target=menu_item.target)
                != menu_item.text.toUpperCase()
